* { box-sizing: border-box; }

body {
    margin: 0;
    background: #2C73D2;
    color: #fff;
    text-align: center;
}

.flex-container {
    border: 10px solid #F9F871;
    width: 80%;
    margin: 0 auto;
    padding: .25em;
    
    display: flex;
    /* align-items: flex-start; */ /* if we set align-items, it's gonna affect all of our flex items inside the container, what if  i want to have only one item setting flex-start, here comes align-self property.it is set to flex item*/
    height: 50vh;
}

.flex-item {
    background: #8BEE86;
    margin: .5em;
    padding: .5em;
    color: #424656;
    
    width: 200px;
}

.flex-item-1 {
    background: plum;
    align-self: flex-start
}

.flex-item-2 {
    
}

.flex-item-3 {
    
}